## Here the info regarding Simbad's spectral coding:

http://simbad.u-strasbg.fr/Pages/guide/chD.htx

In [1]:
import numpy as np
import astroquery
from astropy import units as u
from astroquery.simbad import Simbad
from astropy.coordinates import SkyCoord

In [2]:
astroquery.__version__

'0.4.7.dev7946'

In [3]:
Simbad.add_votable_fields('sptype')
radius=1.0
center=np.array([[92.33, -35.8252],[112.214, -30.247]])
i=0
c = SkyCoord(ra=center[i,0]*u.deg, dec=center[i,1]*u.deg)
tab = Simbad.query_region(c, radius=radius*u.arcsec)

In [4]:
tab['MAIN_ID','RA','DEC','SP_TYPE']

<Table length=2>
  MAIN_ID          RA           DEC      SP_TYPE
                "h:m:s"       "d:m:s"
   object        str13         str13      object
------------ ------------- ------------- -------
CD-35  2722B 06 09 19.2082 -35 49 31.062    L0-1
 CD-35  2722 06 09 19.2081 -35 49 31.065    M1Ve