In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import datashader as ds
from datashader import transfer_functions as tf
from datashader.colors import Sets1to3  # Una paleta de colores predefinida
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import joblib
import datashader as ds
import datashader.transfer_functions as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import Normalize
from matplotlib.cm import ScalarMappable
from matplotlib.cm import viridis
import PIL.Image as Image
import colorcet as cc
import matplotlib.colors as mcolors

In [3]:
df = pd.read_csv("/home/nicolas/nico/Data/Masivas/data_correccion_zari/skiff_zari_preprocesed.csv")

/tmp/ipykernel_13717/1843885594.py:1: DtypeWarning: Columns (4,6,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/home/nicolas/nico/Data/Masivas/data_correccion_zari/skiff_zari_preprocesed.csv")

In [ ]:
df["bp_rp"] = df["phot_bp_mean_mag"] - df["phot_rp_mean_mag"]

In [ ]:
df["j_ks_0"] = df["j_m"] - df["ks_m"] - 0.25*(df["phot_g_mean_mag"]-df["ks_m"])

In [ ]:
df["J-H"] = df["j_m"] - df["h_m"]

In [6]:
df = df.loc[(df["phot_bp_mean_mag"].notna())&
          (df["phot_rp_mean_mag"].notna())&
      (df["phot_g_mean_mag"].notna())&
      (df["parallax"].notna())]

In [7]:
df = df.sort_values(by="Separation")

In [9]:
df = df.drop_duplicates(subset="source_id",keep="first")

In [10]:
df.groupby("binned").count()

,recno,Name,Mag,n_Mag,n_SpType,SpType,Remarks,RAJ2000,DEJ2000,rc,...,phot_bp_mean_flux_over_error,phot_rp_mean_mag,ph_qual,tmass_oid,j_m,h_m,ks_m,GroupID,GroupSize,Separation
binned,,,,,,,,,,,,,,,,,,,,,
A,10927,10927,10829,10829,1,10927,1459,10927,10927,10905,...,10927,10927,10927,10927,10927,10927,10927,1868,1868,10927
B,33519,33519,33445,33444,1,33519,4121,33519,33519,33493,...,33519,33519,33519,33519,33519,33517,33519,10817,10817,33519
F,6042,6042,5602,5602,1,6042,1213,6042,6042,5956,...,6042,6042,6042,6042,6042,6041,6042,935,935,6042
G,52590,52590,47476,47476,34,52590,3857,52590,52590,51227,...,52590,52590,52590,52590,52590,52589,52590,7354,7354,52590
K,51595,51595,47411,47411,24,51595,3466,51595,51595,50174,...,51595,51595,51595,51595,51595,51593,51595,7565,7565,51595
M,31506,31506,30703,30703,17,31506,5013,31506,31506,31357,...,31506,31506,31506,31506,31504,31500,31506,4801,4801,31506
O,2517,2517,2507,2507,1,2517,440,2517,2517,2517,...,2517,2517,2517,2517,2517,2517,2517,1419,1419,2517

In [ ]:
df = df.loc[df["parallax"] < 10**((10-df["ks_m"])/5)]

In [ ]:
df = df.loc[(df["j_ks_0"]<0.1)&(df["j_ks_0"]>-0.3)]

In [ ]:
df = df.loc[df["J-H"]<0.15*(df["phot_g_mean_mag"]-df["ks_m"])+0.05]

In [ ]:
df = df.loc[df["J-H"]>0.15*(df["phot_g_mean_mag"]-df["ks_m"])-0.15]

In [ ]:
df = df.loc[df["phot_g_mean_mag"]> 2*(df["phot_g_mean_mag"]-df["ks_m"])+3]

In [13]:
#df.to_csv("/home/nicolas/nico/Data/Masivas/data_correccion_zari/ZariDR3.csv",index=False)